
.box {
    border: 1px solid #ccc; /* Border color and thickness */
    padding: 10px; /* Adjust the padding as needed */
    margin-bottom: 20px; /* Add margin between boxes if needed */
    overflow: hidden; /* Ensure borders are displayed correctly */

}

.map-section button,
.upload-section button {
    background-color:  rgb(74, 74, 168)!important;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.map-section button:hover,
.upload-section button:hover {
    background-color: rgb(74, 74, 168)!important;
}

.upload-section p,
.upload-section input[type="file"] {
    margin-top: 10px;
}

.success-message,
.error-message {
    margin-top: 10px;
    padding: 10px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.container{
    background-color: black;
}
h4,p{
    color:white;
}
/* map.component.css */
button {
    background-color: #292c2a; /* Set your desired background color */
    color: #ffffff; /* Set the text color */
    padding: 10px 15px; /* Set padding for the button */
    border: none;
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  
    /* Add more styles as needed */
  }
  
  button:hover {
    background-color: #5e5f61; /* Change background color on hover */
  }
  
  /* Adjust the styles based on your design preferences */
  