
.page-container {
  display: flex;
}

.left-sidebar {
  background: rgb(222, 222, 225)!important;
  padding: 20px;
  width: 200px;
  margin:7px 7px;
  border-radius:10px;
}

.left-sidebar h3 {
  margin-bottom: 15px;
}

.map-section {
  margin-top: 20px;
}

.map-section h4 {
  margin-bottom: 10px;
}

.map-button {
  background-color: #08002f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.map-button:hover {
  background-color: #190e4d;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: 500px;
}

th {
  background-color: #08002f;
  color: white;
}

tr{
  width:100%;
}