<!-- page1.component.html -->
<div class="form-container" [formGroup]="form">

<form [formGroup]="form">
  
  
  <br>

  <button type="button" (click)="openQrCodeScanner()">Scan QR Code</button>
  <div *ngIf="qrCodeScanned" class="success-message">
    QR Code successfully scanned!
  </div>
  <div *ngIf="!qrCodeScanned" class="error-message">
    QR Code not scanned.
  </div>
  <br>

  
  <label for="landArea">Land Area: (in sq.feet)</label>
  <input type="number" id="landArea" formControlName="landArea" min="0"/>
  <br>

  <label for="ward">Ward Number:</label>
  <input type="number" id="ward" formControlName="ward" min="0"/>
  <br>

  <label for="selectedDistrict">District:</label>
  <select id="selectedDistrict" formControlName="selectedDistrict" (change)="onDistrictChange()">
    <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
  </select>
  <br>

  <label for="selectedTaluk">Taluk:</label>
  <select id="selectedTaluk" formControlName="selectedTaluk">
    <option *ngFor="let taluk of taluks[form.get('selectedDistrict')?.value]" [value]="taluk">{{ taluk }}</option>
  </select>
  <br>

  <label for="state">State:</label>
  <select id="state" formControlName="state">
    <option *ngFor="let s of states" [value]="s">{{ s }}</option>
  </select>
  <br>

  <label for="surveyNumber">Survey Number:</label>
  <input type="number" id="surveyNumber" formControlName="surveyNumber" min="0"/>
  <br>

  <label for="subdivisionNumber">Subdivision Number:</label>
  <input type="number" id="subdivisionNumber" formControlName="subdivisionNumber" min="0"/>
  <br>

  <label for="ownership">Type of Ownership:</label>
  <select id="ownership" formControlName="ownership">
    <option value="Government">Government</option>
    <option value="Mitta">Mitta</option>
    <option value="Zamindari">Zamindari</option>
    <option value="Inam">Inam</option>
    <option value="Other">Other</option>
  </select>
  <br>

  <label for="landUseType">Land Use Type:</label>
  <select id="landUseType" formControlName="landUseType">
    <option value="Residential">Residential</option>
    <option value="Agricultural">Agricultural</option>
    <option value="Commercial">Commercial</option>
    <option value="Industrial">Industrial</option>
    <option value="Other">Other</option>
  </select>
  <br>


</form>
</div>