<!-- src/app/admin/reports-analytics/reports-analytics.component.html -->

<div class="chart-wrapper">
  <div class="container-fluid">
    <div class="heading">
    <h2>Reports & Analytics</h2>
</div>
    <div class="chart-container">
      <!-- Doughnut Chart -->
      <div class="chart-section">
        <h3>Land Utilization</h3>
        <canvas id="doughnutChart" width="400" height="400"></canvas>
      </div>

      <!-- Pie Chart -->
      <div class="chart-section">
        <h3>Land Ownership</h3>
        <canvas id="pieChart" width="400" height="400"></canvas>
      </div>

      <!-- Bar Chart -->
      <div class="chart-section-line">
       <div id="select-option" style="display: flex; align-items: center;">
  <!-- Your line chart goes here -->

  <div class="select-container" style="display: flex; gap: 10px;">
    <div class="select-wrapper">
    </div>

    <form class="example-form">
      <mat-form-field class="example-full" appearance="fill">
        <mat-label>Select District</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Select District"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
                [(ngModel)]="selectedDistrictOption"
               >
               <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Select Taluk</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Select Taluk"
               matInput
               [formControl]="Control"
               [matAutocomplete]="secondAuto"
               [(ngModel)]="selectedTalukOption"
               >
               <mat-autocomplete #secondAuto="matAutocomplete">
                <mat-option *ngFor="let option of taluks[selectedDistrictOption]" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              
      </mat-form-field>
      
      
    </form>
    
    
   
  </div>

  <button (click)="search()">Search</button>
</div>

        
        
        <div>
        <div>
          <canvas id="lineChart" width="400" height="400"></canvas>
        </div>      </div>
    </div>

  </div>
</div>
