<!-- src/app/admin/reports-analytics/reports-analytics.component.html -->

<div class="chart-wrapper">
  <div class="container-fluid">
    <div class="heading">
    <h2>Reports & Analytics</h2>
</div>
    <div class="chart-container">
      <!-- Doughnut Chart -->
      <div class="chart-section">
        <h3>Land Utilization</h3>
        <canvas id="doughnutChart" width="400" height="400"></canvas>
      </div>

      <!-- Pie Chart -->
      <div class="chart-section">
        <h3>Land Ownership</h3>
        <canvas id="pieChart" width="400" height="400"></canvas>
      </div>

      <!-- Bar Chart -->
      <div class="chart-section-line">
       <div id="select-option" style="display: flex; align-items: center;">
  <!-- Your line chart goes here -->

  <div class="select-container" style="display: flex; gap: 10px;">
    <div class="select-wrapper">
      <label for="lineChartDistrict">Select District:</label>
      <ng-select class="district" [(ngModel)]="selectedDistrict" [items]="districts" bindLabel="name"></ng-select>
    </div>

    <div class="select-wrapper">
      <label for="lineChartTaluk">Select Taluk:</label>
      <ng-select class="taluk" [(ngModel)]="selectedTaluk" [items]="taluks[selectedDistrict]" bindLabel="name"></ng-select>
    </div>
  </div>

  <button (click)="search()">Search</button>
</div>

        
        
        <div>
        <div>
          <canvas id="lineChart" width="400" height="400"></canvas>
        </div>      </div>
    </div>

  </div>
</div>
