
#body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
   /* Background image */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url('https://t3.ftcdn.net/jpg/04/17/77/78/360_F_417777825_v7o8RvkQhxpZkE0ZBD4xwzri5hGFHkO3.jpg') no-repeat center center/cover;
    background-size: cover;
}

form {
  max-width: 800px;
  height:300px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h4 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fbf9f9; 
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Style the submit button */
button {
  background-color: #4caf50; /* Green background color */
  color: rgb(27, 6, 79); /* White text color */
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Disable the button when the form is not valid */
button:disabled {
  background-color: #cccccc; /* Grey background color */
  cursor: not-allowed;
  color: #07042c; /* Light gray text color */
  font-weight: bold;
}
