/* manage-asset-form-dialog.component.css */

div {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* White shadow */
  }
  h4{
    color:rgb(6, 249, 39);
    margin-left:100px;
  }
  h2 {
    color: #fff; /* White text for heading */
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #fff; /* White border */
    border-radius: 4px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    font-size: 14px;
  }
  
  button {
    padding: 12px;
    margin-top: 10px;
    background-color: #c3c1c1; /* Black button */
    color: #0f0e0e; /* White text */
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    margin-left:10px;
  }
  .right{
    float:right
  }
  
  button[type="button"] {
    background-color: #bab8b8; /* Dark gray button for navigation */
  }
  
  button:disabled {
    background-color: #555; /* Slightly lighter gray button for disabled state */
  }
  
  /* Optional: Style for disabled input/select */
  input:disabled,
  select:disabled {
    background-color: #444; /* Darker gray background for disabled elements */
  }
  .close {
    display: inline-block; /* Ensures the button behaves like inline element */
    margin-right: 30px; /* Adjust the margin between the button and the heading */
  }
  
  .bi.bi-x {
    font-size: 24px; /* Adjust the size as needed */
}