<!-- manage-asset-dialog.component.html -->
<div>
  <h2>Manage Asset Form</h2>
  <form [formGroup]="currentPage === 1 ? page1Form : page2Form" (ngSubmit)="onSubmitting()">
    <!-- Include the pages in your template -->
    <app-page1 *ngIf="currentPage === 1" [form]="page1Form"></app-page1>
    <app-page2 *ngIf="currentPage === 2" [form]="page2Form"></app-page2>
    <!-- Include other pages as needed -->

    <button *ngIf="currentPage === 1" type="button" [disabled]="!page1Form.valid" (click)="nextPage()">Next</button>
    <button *ngIf="currentPage > 1" type="button" (click)="previousPage()">Previous</button>
    <button *ngIf="currentPage === 2" type="submit" class="right">Submit</button>
  </form>
</div>
