<!-- manage-asset.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="heading">
        <h2>ALL ASSETS</h2>
      </div>
    </div>
    <div class="col-md-3 text-right">
      <button class="btn btn-success"  id="butt" (click)="showAddNewForm();">Add New Asset</button>
    </div>
  </div>


  <div class="table-container">
    <table *ngIf="page1Data && page1Data.length > 0" class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Land Area(in sq.feet)</th>
          <th>State</th>

          <th>District</th>
          <th>Taluk</th>
          <th>Ward</th>
          <th>Survey Number</th>
          <th>Subdivision Number</th>
          <th>Type of Ownership</th>
          <th>Land Use Type</th>
          <th>Actions</th>
          <th>Ownership</th>
          <th>Map</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let assetArray of page1Data let i=index" >
          <!-- Display properties from the first JSON object in each inner array -->
          <tr *ngIf="assetArray.length > 0">
            <td>{{ i + 1 }}</td>
            <td>{{ assetArray[0]?.landArea }}</td>
            <td>{{ assetArray[0]?.state }}</td>
            <td>{{ assetArray[0]?.selectedDistrict }}</td>
            <td>{{ assetArray[0]?.selectedTaluk }}</td>
            <td>{{ assetArray[0]?.ward }}</td>
            <td>{{ assetArray[0]?.surveyNumber }}</td>
            <td>{{ assetArray[0]?.subdivisionNumber }}</td>
            <td>{{ assetArray[0]?.ownership }}</td>
            <td>{{ assetArray[0]?.landUseType }}</td>
            <td class="action-buttons">
              <button class="btn btn-primary btn-sm" id="update" (click)="showAddNewForm(assetArray[0]); ">Update</button>
              <!-- <button class="btn btn-info btn-sm">View</button> -->
            </td>
            <td>
              <button class="btn btn-primary btn-sm" id="view" (click)="showOwnersDetailsDialog(assetArray);">View</button>
            </td>
            <td>
              <button class="btn btn-primary btn-sm" id="add"(click)="showMapDialog(assetArray);">Add</button>
            </td>          </tr>
        </ng-container>
      </tbody>
    </table>
    
  </div>
</div>
