<!-- manage-asset.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="heading">
        <h2>ALL ASSETS</h2>
      </div>
      <div class="search-container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search...">
        
        <select [(ngModel)]="selectedFilterType">
          
          <option value="selectedDistrict">District</option>
          <option value="Taluk">Taluk</option>
          <option value="ward">Ward</option>
          <option value="surveyNumber">Survey Number</option>
          <option value="subdivision">Subdivision Number</option>
          <option value="ownership">Ownership Type</option>
          <option value="LandUseType">Land Use Type</option>
        </select>
        <button (click)="applyFilter()">Search</button>
      </div>
    </div>
    <div class="col-md-3 text-right">
      <button class="btn btn-success"  id="butt" (click)="showAddNewForm();">Add New Asset</button>
    </div>
  </div>

<br>
 
</div>





<div class="card shadow border-0 mb-7" style="margin-left: 39px;">
 
 
<br>
  <div class="table-responsive">
    <div id="demo" *ngIf="page1Data.length > 0"> 
      <angular-slickgrid  gridId="grid1" [columnDefinitions]="columnDefinitions" 
        [gridOptions]="gridOptions" [dataset]="dataset"  
        ></angular-slickgrid>
    </div>
    
    <div *ngIf="page1Data.length === 0"> 
      No data available.
    </div>
  </div>

</div>



