/* src/styles.css or your component-specific styles */

body {
    font-family: 'Arial', sans-serif;
    background-color: #a5a2a2;  /* Set background color to white */
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    margin-top: 20px;
  }
  
  #sidebar {
    height: 100vh;
    background-color: #000;  /* Set sidebar background color to black */
    color: #fff;
  }
  
  .sidebar-heading {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 0;
    color :rgb(7, 7, 7)!important;
    margin-left:40px;
  }
  
  .list-group-item {
    padding: 15px;
    cursor: pointer;
    background-color: #000;  /* Set list item background color to black */
    border: none;
    color: #fff;
  }
  
  .list-group-item:hover {
    background-color: #333;  /* Darken the background color on hover */
  }
  
  .navbar {
    background-color: #000 !important;  /* Set navbar background color to black */
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    color: #fff;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
    margin-right: 15px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:last-child {
    margin-right: 0;
  }
  
  .main-content {
    padding: 20px;
    background-color: #fff;  /* Set main content background color to white */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add more specific styles for your components */
  