/* app.component.css */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fullContainer{
  position: relative;
  background: url('https://www.colorwallpapers.com/uploads/wallpaper/white-aesthetic-wallpapers/width-853/tftLZ0I77pqV-white-aesthetic-clouds-pc-wallpapers.jpg') no-repeat center center/cover;
  background-size: cover;
  height:100%
}
.app-nav-bar {
  margin-bottom: 0; /* Remove the margin at the bottom of the navigation bar */
}

.about-us-container {
  display: flex;
  height:100%;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 20px;
  width: 100%; /* Set the width to 100% to extend fully */
  box-sizing: border-box; /* Include padding and border in the total width */
}


.image-section {
  flex: 1;
}

img{
  height:500px
}

.website-image {
  width: 100%; /* Adjust the width as needed */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-section {
  flex: 2;
  padding: 0 20px;
  color: #0e0d0d; /* Text color */
}

.headline {
  color: #4C4C4C; /* Headline color */
}

.description,
.section-content {
  color: #090909; /* Text color */
}

.section-title {
  color: #4C4C4C; /* Section title color */
}

.values {
  margin-top: 30px;
}

.value-list {
  list-style-type: none;
  padding: 0;
}

.value-item {
  font-weight: bold;
  margin-bottom: 8px;
  color: #0c0c0b; /* Value item color */
}
