<nav>
  <ul>
    <!-- <li><a routerLink="/nav-bar">Home</a></li> -->
    <li><a routerLink="/home">Home</a></li>

    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li> <a  routerLink="/land-records">Land Records</a></li>
  
    
     <!-- Show login link only if not authenticated -->
     <li *ngIf="!authService.isUserLoggedIn()">
      <a class="signup" (click)="openLoginDialog()">Log in</a>
    </li>

    <!-- Show logout link only if authenticated -->
    <li *ngIf="authService.isUserLoggedIn()">
      <a class="signup" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
