/* styles.css */

nav {
  background: linear-gradient(to right, #08002f, #1a0066, #08002f)!important;
  height:45px;
  border-radius: 10px;
  }

  ul {
    list-style-type: none;
    float:right;
    padding: 0;
    overflow: hidden;
    margin-top: 15px;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: gray;
  }
  .signup{
    color:white;
  }
  
  