<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <h4>LOGIN FORM</h4>

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
      <!-- Display error message for invalid email format -->
  <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="error-message" style="color: red;">
    Invalid email format
  </div>

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <br>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>

    <!-- Message area for success or error messages -->
    <div class="message" *ngIf="isFormSubmitted && loginForm.dirty && !loginForm.valid">
      Please enter valid email and password.
    </div>
    
    <div id="message" *ngIf="isFormSubmitted && loginForm.valid">
      <div *ngIf="isLoginSuccess; else error" class="success-message">
        {{ successMessage }}
      </div>
      <ng-template #error>
        <div class="error-message">
          {{ errorMessage }}
        </div>
      </ng-template>
    </div>
    <br>
    New User?<a class="signup"(click)="openRegistrationDialog()">Sign Up</a>

  </div>
</form>
