/* src/styles.css */
@import "~bootstrap/dist/css/bootstrap.css";

/* Your custom styles go here */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#my-qr-reader img[alt="Info icon"],
#my-qr-reader img[src*="i.png"] {
  display: none !important;
}

