<form [formGroup]="form" (ngSubmit)="submitForm()">
  <!-- Remove the ownershipType select input -->
  
  <div>
    <label for="ownershipDurationFrom">FROM:</label>

    <input type="date" id="ownershipDurationFrom" formControlName="ownershipDurationFrom" [min]="'1975-01-01'" [max]="today" required>
    <label for="ownershipDurationTo">TO:</label>
    <input type="date" id="ownershipDurationTo" formControlName="ownershipDurationTo" [min]="form.get('ownershipDurationFrom')?.value" [max]=[today] required>

    <!-- Details for multiple owners -->
    <label for="numOwners">Number of Owners:</label>
    <input type="number" id="numOwners" formControlName="numOwners" required [min]="0">

    <!-- Add button to dynamically add owners -->
    <button type="button" (click)="addOwners()">Add Owners</button>

    <!-- Display details for each owner using formArray -->
    <div formArrayName="owners">
      <div *ngFor="let owner of owners.controls; let i = index">
        <h2>Owner {{ i + 1 }}</h2>
        <div [formGroupName]="i">
          
          <label for="name">Owner's Name:</label>
          <input type="text" id="name" formControlName="name"  required>

          <label for="contactInformation">Contact Information:</label>
          <input type="text" id="contactInformation" formControlName="contactInformation" required>

          <label for="address">Address:</label>
          <input type="text" id="address" formControlName="address" required>

          <label for="marketPrice">Market Value:</label>
          <input type="text" id="marketPrice" formControlName="marketPrice" required [min]="0">

          <label for="purchasePrice">Consideration Value:</label>
          <input type="text" id="purchasePrice" formControlName="purchasePrice" required [min]="0">

          <label for="dateOfTransaction">Date of Transaction:</label>
          <input type="date" id="dateOfTransaction" formControlName="dateOfTransaction" required [min]="'1975-01-01'" [max]="today">

          <label for="transactionType">Type of Transaction:</label>
          <select id="transactionType" formControlName="transactionType" required>
            <option value="purchase">Purchase</option>
            <option value="sale">Sale</option>
            <option value="inheritance">Inheritance</option>
          </select>

          <label for="landUsageHistory">Land Usage History:</label>
          <textarea id="landUsageHistory" formControlName="landUsageHistory" required></textarea>

          <label for="buyerDetails">Name of Claimant/Buyer:</label>
          <input type="text" id="buyerDetails" formControlName="buyerDetails" required>

          <label for="sellerDetails">Name of Executant/Seller:</label>
          <input type="text" id="sellerDetails" formControlName="sellerDetails" required>

          <label for="boundaryDetails">Boundary Details:</label>

          <label for="north">North:</label>
          <input type="text" id="north" formControlName="north" required>

          <label for="south">South:</label>
          <input type="text" id="south" formControlName="south" required>

          <label for="east">East:</label>
          <input type="text" id="east" formControlName="east" required>

          <label for="west">West:</label>
          <input type="text" id="west" formControlName="west" required>

        </div>


      </div>
    </div>
  </div>

  </form>
