/* stats.css */

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-bottom: 20px;
  }
  
  .stat-box {
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 5px;
  }
  .heading{
    width: 150px;
      padding: 5px;
      text-align: center;
      border-radius: 8px;
      margin-bottom: 10px;
      background-color: white; /* Silver */
      color:rgb(12, 11, 11);
  }
 
tbody  {
  background-color: #f9f9f9!important;
}
  
  .box-1 {
  background: linear-gradient(to right, #138b25, #8cd2af); /* Brown */
  color: #fff;
}

.box-2 {
  background: linear-gradient(to right, #f1b16b, #f49163); /* Silver */
  color: #fff;
}

.box-3 {
  background: linear-gradient(to right, #007a80, #00c8ff); /* Green */
  color: #fff;
}

.box-4 {
  background: linear-gradient(to right, #f283dc, #ee9be0); /* Orange */
  color: #fff;
}

.box-5 {
  background: linear-gradient(to right, #800080, #9370DB); /* Purple */
  color: #fff;
}
  
  .stat-icon {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  .recent-registrations-container {
    max-width: 1000px;
    margin: 20px auto;
  }
  
  .recent-registrations-container h2 {
    color: #333;
  }
  
  .recent-registrations-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .recent-registrations-container th, .recent-registrations-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .recent-registrations-container th {
    background-color: #f2f2f2;
  }
  
  .recent-registrations-container tr:hover {
    background-color: #f5f5f5;
  }