/* stats.css */

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-bottom: 20px;
  }
  
  .stat-box {
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
  }

 
  
  .top-box {
    background-color: #3498db;
    color: #fff;
  }
  
  .bottom-box {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .stat-icon {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  .recent-registrations-container {
    max-width: 1000px;
    margin: 20px auto;
  }
  
  .recent-registrations-container h2 {
    color: #333;
  }
  
  .recent-registrations-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .recent-registrations-container th, .recent-registrations-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .recent-registrations-container th {
    background-color: #f2f2f2;
  }
  
  .recent-registrations-container tr:hover {
    background-color: #f5f5f5;
  }