<!-- stats.component.html -->
<div class="stats-container">
  <div class="stat-box box-1">
    <i class="stat-icon material-icons">dashboard</i>
    <div class="stat-label">Total Assets</div>
    <div class="stat-value">{{ totalAssets }}</div>
  </div>

  <div class="stat-box box-2">
    <i class="stat-icon material-icons">person</i>
    <div class="stat-label">Total Users</div>
    <div class="stat-value">{{ totalUsers }}</div>
  </div>
  <div class="stat-box box-3">
    <i class="stat-icon material-icons">history</i>
    <div class="stat-label">Recent Registrations</div>
    <div class="stat-value">{{ recentRegistrations }}</div>
  </div>

  <div class="stat-box box-4">
    <i class="stat-icon material-icons">insert_drive_file</i>
    <div class="stat-label">New Assets Today</div>
    <div class="stat-value">{{ newAssetsToday }}</div>
  </div>

  <div class="stat-box box-5">
    <i class="stat-icon material-icons">person_add</i>
    <div class="stat-label">New Users Today</div>
    <div class="stat-value">{{ newUsersToday }}</div>
  </div>
</div>


<!-- Recent Registrations Table -->
<div class="recent-registrations-container">
  <div class="heading">
  <h2>Registrations</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>S.No</th>
         <th>Land Area(in Sq.feet)</th>
          <th>District</th>
          <th>Taluk</th>
          <th>Ward</th>
          <th>State</th>
          <th>Survey Number</th>
          <th>Subdivision Number</th>
          <th>Type of Ownership</th>
          <th>Land Use Type</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registration of recentRegistrationsData let i=index">
        <td>{{ i + 1 }}</td>
        <td>{{ registration.landArea }}</td>
        <td>{{ registration.selectedDistrict}}</td>
        <td>{{ registration.selectedTaluk}}</td>
        <td>{{ registration.ward}}</td>
        <td>{{ registration.state}}</td>
        <td>{{ registration.surveyNumber}}</td>
        <td>{{ registration.subdivisionNumber}}</td>
        <td>{{ registration.ownership}}</td>
        <td>{{ registration.landUseType}}</td>







        <!-- Add more cells for additional columns -->
      </tr>
    </tbody>
  </table>
</div>