<!-- stats.component.html -->
<div class="stats-container">
  <div class="stat-box top-box">
    <i class="stat-icon material-icons">dashboard</i>
    <div class="stat-label">Total Assets</div>
    <div class="stat-value">{{ totalAssets }}</div>
  </div>

  <div class="stat-box top-box">
    <i class="stat-icon material-icons">person</i>
    <div class="stat-label">Total Users</div>
    <div class="stat-value">{{ totalUsers }}</div>
  </div>
  <div class="stat-box top-box">
    <i class="stat-icon material-icons">history</i>
    <div class="stat-label">Recent Registrations</div>
    <div class="stat-value">{{ recentRegistrations }}</div>
  </div>

  <div class="stat-box bottom-box">
    <i class="stat-icon material-icons">insert_drive_file</i>
    <div class="stat-label">New Assets Today</div>
    <div class="stat-value">{{ newAssetsToday }}</div>
  </div>

  <div class="stat-box bottom-box">
    <i class="stat-icon material-icons">person_add</i>
    <div class="stat-label">New Users Today</div>
    <div class="stat-value">{{ newUsersToday }}</div>
  </div>
</div>
