.map-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 206px;
  padding: 69px 46px;
  background-color: #f0f0f0;
}

.pdf-container {
  flex: 1;
  padding: 20px;
}

iframe {
  border: 1px solid #ccc;
}
